/**** Retrieve from 
http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video
Refer for detailed explanation
***/ 

/*full screen background video*/
<video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
    <source src="polina.webm" type="video/webm">
    <source src="polina.mp4" type="video/mp4">
</video>

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
	}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }  /*fade out when played*/ 
	
<!--[if lt IE 9]>
<script>
	document.createElement('video');
</script>
<![endif]-->
video { display: block; }	
@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

