.post-banner {
	position: relative;
    color: #fff;
    background-color: #264399;
	height: 200px; 
	overflow:hidden;
	}
	
.post-banner .post-info{	
	position: absolute;
    width:100%;
	top: 0px; 
	text-align: center;
    color: #fff;
	background-color: rgba(0,0,0,0.3);
	padding: 60px 0px; 
	}	
	
.post-banner .post-info a {
	text-decoration: none; 
	color: #fff; 
	}